body {
  text-align: center;
}

input {
  padding: 8px;
  border-radius: 12px;
  /* border-radius: 14%; */
  margin: 5px;
  border: 1px solid darkgrey;
}

button {
  text-transform: uppercase;
  border: 1px solid darkgrey;
  background-color: lavender;
  padding: 8px;
  border-radius: 12px;
}

.search-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 10px;
}